[Unit]
Description=DS API .NET Web API App running on Ubuntu

[Service]
WorkingDirectory=/var/www/html/app/ds-api
ExecStart=dotnet /var/www/html/app/ds-api/WebAPI.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=swcc
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
