<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Mjlsi - PDF</title>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/PDF-ar.css">
</head>

<body>

  <!-- Page Template -->
  <div class="white-page mx-auto">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"
      style="font-family:'Times New Roman',Times,serif;font-size: 10pt!important;margin-top: 0;left: 0;margin-bottom: 10mm;">
      <div class="" style="display: flex;justify-content: space-between;">
        <a class="col" style="font-size: 11pt;">
          Enozom Organization Name
        </a>
        <div class="imagelogo" style="margin: -9pt;">
          <img style="width:100px!important;height:auto!important;margin-bottom:0px;" src="img/Mjlsi Logo-01.png">
        </div>

      </div>
    </nav>

    <header class="masthead">
      <div class="media my-3">
        <div class="mr-3 mt-3 media-aside">
          <div class="align-self-top">
            <div class="month-header">Apr</div>
            <div class="grey-lg-text"> 4 </div>
            <div class="week-day-text"> Sun </div>
          </div>
        </div>
        <div class="media-body pl-4">
          <h3 class="mb-0 mt-3" style="margin: 4mm 0 2mm;font-size: 18pt;line-height: 18pt;">
            MJLSI Meeting Title
          </h3>
          <p class="mt-0 mb-2" style="margin:0;">Sun, April 14, 2019, 3:52 PM - Sun, April 14, 2019, 4:52 PM (Cairo)
          </p>
          <p class="mt-0 mb-2" style="margin: 1mm 0 4mm;">ENZO-MAR-909-2400</p>
        </div>
      </div>
    </header>

    <div class="" style="page-break-inside: avoid;">
      <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;margin-bottom: 2mm;">
        <div style="width:16%;" class="bold">
          <span style="margin: auto;">Venue: </span>
        </div>
        <div class="font-10" style="width: 80%;">
          Meeting Venue
        </div>
      </div>

      <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;">
        <div style="width:16%;" class="bold">
          <span style="margin: auto;">Description: </span>
        </div>
        <div class="font-10" style="width: 80%;">
          Failure of procedure, infection, drainage from ears, permanent hole in eardrum, bleeding,
          need for blood transfusion, need for re-operation, pain, scarring, change in voice,
          temporary or permanent alteration and/or loss of taste, leak of fluid and air from nose,
          death, anesthetic risk.<br>
        </div>
      </div>

      <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;margin-bottom: 2mm;">
        <div style="width:16%;" class="bold">
          <span style="margin: auto;">Notes: </span>
        </div>
        <div class="font-10" style="width: 80%;">
          Alternatives have been discussed with the patient at the time of consent
        </div>
      </div>

      <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;margin-bottom: 2mm;">
        <div style="width:16%;" class="bold">
          <span style="margin: auto;">Organisers: </span>
        </div>
        <div class="font-10" style="width: 80%;">
          <ul>
            <li>Nahla Ali</li>
            <li>Eman Mohamed</li>
          </ul>
        </div>
      </div>

      <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;margin-bottom: 2mm;">
        <div style="width:16%;" class="bold">
          <span style="margin: auto;">Participants: </span>
        </div>
        <div class="font-10" style="width: 80%;">
          <ul>
            <li>Nahla Ali</li>
            <li>Eman Mohamed</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="m-widget4">
      <h4 style="font-weight: 600;font-size: 15pt;line-height: 14pt;margin: 6mm 0 3mm;"
        class="graf graf--h4 graf-after--p">Attachments</h4>
      <div class="m-widget4__item">
        <div class="m-widget4__img m-widget4__img--icon">
          <span><img alt="" src="img/files/jpg.svg"></span>
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__text">
            1_dRMg2LvnT7EKXkU9nCe4jQ.png
          </span>
        </div>
      </div>
      <div class="m-widget4__item">
        <div class="m-widget4__img m-widget4__img--icon">
          <span><img alt="" src="img/files/jpg.svg"></span>
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__text">
            6a9d0d462cdc2b0b97e607f32aa124e9.png
          </span>
        </div>
      </div>
      <div class="m-widget4__item">
        <div class="m-widget4__img m-widget4__img--icon">
          <span><img alt="" src="img/files/doc.svg"></span>
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__text">
            Mono Website Guidelines.docx
          </span>
        </div>

      </div>
    </div>

    <div class="page-break font-11 line-height-12 general-sign bold" style="padding-top:5mm;font-weight: 600;">
      <h4 class="section-heading" style="font-weight: 600;font-size: 15pt;line-height: 14pt;margin: 6mm 0 3mm;">Agendas
      </h4>
      <div class="clear page-break"
        style="background: #fff;border: 1px solid #3c3c3c;padding: 0 8px;padding: 2mm 2mm 0mm 3mm;margin-top:0mm;">
        <div style="text-align:center;border-bottom: 1px dashed #ddd;margin: 0mm 0 2mm;padding: 0mm 0 0;">
          <h4 style="font-weight: 600;font-size: 15pt;line-height: 14pt;margin: 3mm 0 0mm;">Agenda English Title</h4>
          <p style="font-weight: 500;font-size: 11pt;line-height: 14pt;margin: 2mm 0 4mm;">40 Min</p>
        </div>

        <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;">
          <div style="width:16%;" class="bold">
            <span style="margin: auto;">Presenters:</span>
          </div>
          <div class="font-10" style="font-weight: 500;width: 80%;">
            Nahla Ali Mohamed Ali Elsayeh
          </div>
        </div>
        <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;">
          <div style="width:16%;" class="bold">
            <span style="margin: auto;">Purpose: </span>
          </div>
          <div class="font-10" style="font-weight: 500;width: 80%;">
            For Discussion
          </div>
        </div>


        <div class="m-demo mb-2" style="border-top: 1px dashed #ddd;margin: 1mm 0 5mm;padding: 2mm 0 0;">
          <div class="m-demo__preview m-demo__preview--btn">
            <h5 style="margin: 0 0 2mm;background-color: #ddd;display: inline-block;padding: 0 2mm;line-height: 16px;">
              Votes </h5>
            <p class="mt-0" style="color: #333;margin: 0;">Should we be an exhibitor this year? </p>
            <div class="btn-group" role="group">

              <label class="m-vote-btn-group">

                <label for="test1">
                  <i class="checkmark"></i>
                  نعم: </label>
                <span>5</span>
              </label>
              <label class="m-vote-btn-group">
                <label for="test2">
                  <i class="close black"></i>
                  لا: </label>
                <span>2</span>
              </label>
              <label class="m-vote-btn-group">
                <label for="test3">
                  <i class="circle"></i> Abstained: </label>
                <span>
                  20
                </span>
              </label>

            </div>
          </div>
        </div>



        <!---->
        <div class="bold" style="padding-top:2mm;font-weight: 600;padding-bottom: 10px;">
          <h4 class="section-heading" style="font-weight: 600;font-size: 15pt;line-height: 14pt;margin: 6mm 0 3mm;">
            Comments</h4>

          <div class="streamItem"
            style="background: #fff;-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);box-shadow: 0 1px 4px rgba(0,0,0,.04);border: 1px solid rgba(0,0,0,.09);-webkit-border-radius: 3px;border-radius: 3px;padding: 15px 20px 18px;margin: 10px 0 10px;">
            <div class="cardChromeless u-marginTop20 u-paddingTop10 u-paddingBottom15 u-paddingLeft20 u-paddingRight20">
              <div class="postArticle postArticle--short js-postArticle js-trackPostPresentation js-trackPostScrolls">
                <div class="u-clearfix u-marginBottom15 u-paddingTop5">
                  <div class="postMetaInline u-floatLeft">
                    <div class="list-row" style="page-break-inside: avoid;display:inline-block;width:100%;">
                      <div style="width: 10%;" class="bold">
                        <span style="margin: auto;">
                          <img src="https://cdn-images-1.medium.com/fit/c/36/36/1*dmbNkD5D-u45r44go_cf0g.png"
                            style="width: 40px;display: inline;">

                        </span>
                      </div>
                      <div class="font-10" style="font-weight: 500;width: 80%;">
                        <span style="
        clear: both;
    ">Diogo Costa</span>

                        <br>


                        <time datetime="2018-06-20T11:19:02.928Z" style="
        font-size: 12px;
    ">Jun 20, 2018</time>
                      </div>
                    </div>
                  </div>
                </div>
                <div>

                  <div class="postArticle-content js-postField">
                    <section class="section section--body section--first section--last">
                      <div class="section-divider">
                        <div style="clear:both;height: 5px;"></div>
                      </div>
                      <div class="section-content">
                        <div class="section-inner sectionLayout--insetColumn">
                          <p name="b17a" id="b17a" class="graf graf--p graf--leading graf--trailing">
                            Great article! Thanks for sharing your experience.
                          </p>
                        </div>
                      </div>
                    </section>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <!---->


      </div>




    </div>


    <div class="mom">
      <h4 style="    font-weight: 600;
        font-size: 15pt;
        line-height: 14pt;
        margin: 6mm 0 3mm;
        letter-spacing: 0;" class="graf graf--h4 graf-after--p">Min of Meeting</h4>

      <p name="9744" id="9744" class="graf graf--p graf-after--p">As you might expect, dual track design has two tracks
        <em class="markup--em markup--p-em">(a Sherlock Holmes level deduction, I know, don’t everybody gasp at
          once)</em>:</p>


      <ol class="postList">
        <li name="69d6" id="69d6" class="graf graf--li graf-after--h4">
          In the beginning there was Don Norman, and Don invented UX.
        </li>
        <li name="8a81" id="8a81" class="graf graf--li graf-after--li">
          Other innovators like Jesse James Garrett fleshed out Don Norman’s ideas
          and the classic UX process was born.
        </li>
        <li name="7822" id="7822" class="graf graf--li graf-after--li">
          Classic UX worked well with the standard waterfall development
          cadence and everybody was happy. UX was still a niche practice though.
        </li>
      </ol>
      <p>
        Meeting Description is here. The committee
        manager will discuss the financial plan for this
        year. This will contain three agendas and two
        votes.
      </p>
      <p>
        The committee
        manager will discuss the financial plan for this
        year. This will contain three agendas and two
        votes. Meeting Description is here. The committee
        manager will discuss the financial plan for this
        year. This will contain three agendas and two
        votes. Meeting Description is here. The committee
        manager will discuss the financial plan for this
        year. This will contain three agendas and two
        votes.
      </p>

    </div>




    <div class="bold" style="padding-top:2mm;font-weight: 600;">
      <h4 class="section-heading" style="font-weight: 600;font-size: 15pt;line-height: 14pt;margin: 6mm 0 3mm;">Agendas
      </h4>






      <div class="streamItem">
        <div class="cardChromeless u-marginTop20 u-paddingTop10 u-paddingBottom15 u-paddingLeft20 u-paddingRight20">
          <div class="postArticle postArticle--short js-postArticle js-trackPostPresentation js-trackPostScrolls">
            <div class="u-clearfix u-marginBottom15 u-paddingTop5">
              <div class="postMetaInline u-floatLeft">
                <div class="u-flexCenter">
                  <span class="postMetaInline-avatar u-flex0">
                    <img src="https://cdn-images-1.medium.com/fit/c/36/36/1*dmbNkD5D-u45r44go_cf0g.png"
                      class="avatar-image u-size36x36 u-xs-size32x32">
                  </span>
                  <span
                    class="postMetaInline postMetaInline-authorLockup ui-captionStrong u-flex1 u-noWrapWithEllipsis">
                    Diogo Costa

                    <p
                      class="ui-caption u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">


                      <time datetime="2018-06-20T11:19:02.928Z">Jun 20, 2018</time>

                    </p>
                  </span>

                </div>
              </div>
            </div>
            <div>

              <div class="postArticle-content js-postField">
                <section class="section section--body section--first section--last">
                  <div class="section-divider">
                    <div style="clear:both;height: 1em;"></div>
                  </div>
                  <div class="section-content">
                    <div class="section-inner sectionLayout--insetColumn">
                      <p name="b17a" id="b17a" class="graf graf--p graf--leading graf--trailing">
                        Great article! Thanks for sharing your experience.
                      </p>
                    </div>
                  </div>
                </section>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <!-- <div class="footer" style="font-family: 'Times New Roman', Times, serif;font-size: 9pt !important;position: absolute;bottom: 11pt;left: 22pt;">
      <div class="imagebilling" style="width:40%;display:inline-block;text-align:left;float:left;">
        <img style="width:100px!important;height:auto!important;margin-bottom:0px;" src="img/Mjlsi Logo-01.png">
      </div>
      <div style="bottom: 10px;position: absolute;right: 0;font-size: 11pt !important;font-family:'Times New Roman', Times, serif;">
        Page: 1 of 1
      </div>
    </div> -->


  </div>

  <!-- Page Template -->





</body>

</html>